@import "tailwindcss";
#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg-app);
}

:root {
  --bg-app: #faf8f3;
  --bg-header: #fffdf9;
  --bg-button: #d4735e;
  --main-text-color: #ffffff;
  --hover-orange: #d46046;
  --black-text: #000000;
  --tag-bg: rgba(139, 168, 136, 10%);
  --tag-text: #8ba888;
}
.dark {
  --bg-app: #000;
  --bg-header: #faf8f3;
}
@theme {
  --color-bg-app: var(--bg-app);
  --color-bg-header: var(--bg-header);
  --color-bg-button: var(--bg-button);
  --color-text-main: var(--main-text-color);
  --color-hover-orange: var(--hover-orange);
  --color-black-text: var(--black-text);
  --color-tag-text: var(--tag-text);
  --color-tag-bg: var(--tag-bg);
}
